<div class="snooze-panel" role="menu">
    <button type="button" data-followup-preset="today">Today (6:00pm)</button>
    <button type="button" data-followup-preset="tomorrow">Tomorrow (10:00am)</button>
    <button type="button" data-followup-preset="next_week">Next week (10:00am)</button>
    <button type="button" data-followup-preset="two_weeks">In 2 weeks (10:00am)</button>
    <div class="snooze-custom">
        <span class="snooze-label">Pick date…</span>
        <div class="snooze-custom-row">
            <input type="date" data-followup-date>
            <button type="button" class="btn btn-quiet btn-compact" data-followup-date-submit>Set</button>
        </div>
    </div>
    <button type="button" class="snooze-clear" data-followup-clear>Clear follow-up</button>
</div>
